body {
    background-color: black;
}
p {
    color: white;
    text-align: center;
    font-size: 50px;
    padding:100px;
}
header {
    color:white;
    text-align:center;
    font-size:100px;
}
.todoList{
    color:white;
    text-align: center;
    font-size: 50px;
    padding:20px;
    list-style-type: none;
}